/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
*, *:before, *:after {
	box-sizing: border-box;
}

:root {
	--eyes: #51C130;
	--pupils: #223F3D;
	--mane: #0F546C;
	--chitin: #242424;
	--carapace-dark: #0B545B;
	--carapace-light: #58C454;
	--eyeshadow: #00322A;
	--aura: #10DC0D;
}

body {
	position: relative;
	color: white;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background: linear-gradient(
			200.96deg,
			var(--carapace-light) -29.09%,
			var(--carapace-dark) 51.77%,
			var(--chitin) 129.35%
	);
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

	#root {
		width: 100%;
		min-height: 100%;
	}
}

